body {
  padding: 0;
  margin: 0;
}

.sparkle,
.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.background {
  background: url('bg.jpg') center center;
  background-size: cover;
  z-index: 0;
}

.sparkle {
  z-index: 1;
  mix-blend-mode: multiply;
  background-color: #028;
}
