@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&display=swap');

@font-face {
  font-family: 'Quakiez';
  src: url('Quakiez.ttf') format('truetype');
  font-style: italic;
  font-weight: 400;
}

:root {
  --body-font-family: 'IBM Plex Sans', sans-serif;
  --body-font-color: '#ffffff';
  --body-font-shadow: '#000000';
  --button-bg-color: '#ffffff';
  --button-fg-color: '#000000';
  --header-font-family: 'Quakiez', 'Helvetica', 'Arial', 'sans-serif';
  --header-font-color: #ffffff;
  --header-font-shadow: #000000;
}

body {
  padding: 0;
  margin: 0;
  background-color: #000000;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 4rem;
  font-weight: normal;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0.5rem;

  @media (max-width: 1250px) {
    font-size: 3rem;
  }

  @media (max-width: 640px) {
    font-size: 2.25em;
  }
}

h2 {
  font-size: 3rem;
  font-weight: normal;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0.5rem;

  @media (max-width: 1250px) {
    font-size: 2rem;
  }

  @media (max-width: 640px) {
    font-size: 1.75em;
  }
}

h1,
h2 {
  text-shadow: 0px 2px 0px var(--header-font-shadow);

  @media (max-width: 500px) {
    text-align: center;
  }
}

p {
  font-family: var(--body-font-family);
  text-shadow: 0px 2px 0px var(--body-font-shadow);
  line-height: 1.5;

  @media (max-width: 500px) {
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
  }
}

.sparkle,
.background,
.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.background {
  background: url('bg.jpg') center center;
  background-size: cover;
  z-index: 0;
  opacity: 0.5;
}

.content {
  z-index: 3;
  background: url('interlace.png');
  padding: 4em;
  box-sizing: border-box;
  font-family: var(--header-font-family);
  color: var(--header-font-color);

  @media (max-width: 1250px) {
    padding: 3em;
  }

  @media (max-width: 1000px) {
    padding: 2em;
  }
}

.sparkle {
  mix-blend-mode: color-dodge;
  opacity: 0.125;
  filter: blur(10px);
}

.sparkle-1 {
  z-index: 1;
}

.sparkle-2 {
  z-index: 2;
}

a {
  text-decoration: underline;
  color: var(--body-font-color);

  @media (max-width: 500px) {
    display: block;
    max-width: 250px;
    border: 2px solid white;
    text-decoration: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}

.interpunct {
  display: inline;
  @media (max-width: 500px) {
    display: none;
  }
}

a:hover {
  text-decoration: underline;
}
