body {
  padding: 0;
  margin: 0;
  background-color: #000000;
}

.sparkle,
.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.background {
  background: url('bg.jpg') center center;
  background-size: cover;
  z-index: 0;
  opacity: 0.5;
}

.sparkle {
  mix-blend-mode: multiply;
  opacity: 0.3;
  filter: blur(5px);
}

.sparkle-1 {
  z-index: 1;
}

.sparkle-2 {
  z-index: 2;
}
